In [19]:
#dependent samples - before/after
import pandas as pd

blood_pressure = pd.read_csv('blood_pressure.csv')
blood_pressure.head()

       before       after
0  136.713072   92.432965
1  134.735618  105.022643
2  127.529115   82.242766
3  144.527126   93.607172
4  124.214720  103.212223

In [28]:
from scipy.stats import ttest_rel
# DEPENDENT samples: Here we look at the mean of the differences
# mu(after - before)
# H0: there is no difference
# H1: there is a difference
ttest_rel(blood_pressure.after, blood_pressure.before)

Ttest_relResult(statistic=-27.291841767560236, pvalue=7.303035069608042e-48)

In [21]:
from scipy.stats import ttest_1samp
ttest_1samp(blood_pressure.after - blood_pressure.before, 0)

Ttest_1sampResult(statistic=-27.291841767560236, pvalue=7.303035069608042e-48)

In [24]:
# independent samples, e.g., A/B tests
ab_test = pd.read_csv('ab_test.csv')
ab_test

        a      b
0    0.27  13.61
1    6.08  21.53
2   13.74   9.23
3    9.70   5.36
4    7.00  12.90
5    4.77  10.83
6    2.56  10.70
7    7.24  15.57
8    7.30  10.42
9    0.86  18.90
10   3.10  23.95
11  10.31   5.70
12  17.42  12.65
13  14.03   9.78
14   9.09  12.83
15  13.29  18.61
16  16.55  12.94
17   8.14   5.85
18  13.99  22.92
19  10.99  21.46
20  18.35   3.11
21   3.34  15.52
22  11.27   1.51
23  16.02  24.00
24   9.47  14.07
25  11.62  11.97
26   6.83   2.31
27  11.57   2.66
28  20.90  14.14
29   1.97  22.63
30  15.67  10.95
31  19.08   0.59
32   4.60  15.14
33   8.21  21.97
34   6.29  20.22
35  16.26  11.13
36  13.51  13.74
37   8.63   7.02
38   2.73   9.94
39   9.07   7.99
40   6.56  20.37
41  13.31   6.46
42   4.08  11.66
43   9.07  18.62
44   6.65  19.49
45   3.73   2.02
46   1.01   8.48
47  14.57  12.62
48   5.20  13.22
49  11.77   4.01

In [22]:
from scipy.stats import ttest_ind

# INDEPENDENT samples: we look at the difference of the means
# mu(after) - mu(before)
# H0: there is no difference
# H1: there is a difference

# equal variance
ttest_ind(ab_test.a, ab_test.b, equal_var=True)

Ttest_indResult(statistic=-2.637533181209767, pvalue=0.009713140852447347)

In [25]:
ab_test.b.mean()

12.466

In [26]:
# equivalent to this 1 sample test:
ttest_1samp(ab_test.a, ab_test.b.mean())

Ttest_1sampResult(statistic=-4.201361678568498, pvalue=0.00011180753951296381)

In [23]:
# unequal variance, or we don't know (Welch's test)
ttest_ind(ab_test.a, ab_test.b, equal_var=False)

Ttest_indResult(statistic=-2.637533181209767, pvalue=0.009776243024828825)